<table align="center" width=100%>
    <tr>
        </td>
            </td>
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Regression modeling on House Price Data
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

# Problem Statement

This dataset is created for the prediction of House Prices from an Indian perspective Towns. The dataset contains various features that are important during the application for the selling the Houses. The predicted output obtained from the classification algorithm gives a fair idea about the chances of a Houses Sold.

# Data Dictionary 
 
 The Data set contains 506 observations of House Price From Different Towns. Corresponding to each house price,data of other veriables is available on which price is suspected to depend.

## About the dataset (House Pricing prediction data) 

**price:** Value of the house 

**crime_rate:** Crime rate in that neighborhood

**resid_area:** Preporsion of residential area in the town

**air_qual:** Quality of Air in that neighborhood

**room_num:** Avearge number of rooms in houses of that locality

**age:** How old is the house counstuction  in years

**dist1:** Distance from employment hub 1

**dist2:** Distance from employment hub 2

**dist3:** Distance from employment hub 3

**dist4:** Distance from employment hub 4

**teachers:** Number of Teachers per 1000 population in the town

**poor_prop:** Preportion of poor population in the town

**airport:** Is there an airport in city? (Yes/No)

**n_hos_beds:** Number of Hospital Beds per 1000 population in the town

**n_hot_rooms:** Number of Hotel rooms per 1000 population in town

**waterbody:** What type of natural fresh water sourcs is there in the city (Lake/River/Both/None)

**rainfall:** The yearly average rainfall in centimeters

**bus_ter:** Is there a bus terminal in city? (Yes/No)

**parks:** Proportion of land assigned as park and green areas in town

In [1]:
# import 'Pandas' 
import pandas as pd 

# import 'Numpy' 
import numpy as np

# import subpackage of Matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

# import 'Seaborn' 
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# display all rows of the dataframe
pd.options.display.max_rows = None

# set the plot size using 'rcParams'
# once the plot size is set using 'rcParams', it sets the size of all the forthcoming plots in the file
# pass width and height in inches to 'figure.figsize' 
plt.rcParams['figure.figsize'] = [15,8]

In [2]:
# import train-test split 
from sklearn.model_selection import train_test_split

In [3]:
# load the csv file
# store the data in 'df_houseprice'
df_houseprice = pd.read_csv("House_Price.csv")

# display first five observations using head()
df_houseprice.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [4]:
# So as we see here Bus_ter column have only one unique value that means it wont usefull for our analysis
# Axis  = 1  use for column 0 for row
# inplace = True indecate permanat changes
df_houseprice.drop("bus_ter",axis =1,inplace = True)

In [5]:
# sort the variables on the basis of total null values in the variable
# 'isnull().sum()' returns the number of missing values in each variable
# 'ascending = False' sorts values in the descending order
# the variable with highest number of missing values will appear first
Total = df_houseprice.isnull().sum().sort_values(ascending=False)          

# calculate percentage of missing values
# 'ascending = False' sorts values in the descending order
# the variable with highest percentage of missing values will appear first
Percent = (df_houseprice.isnull().sum()*100/df_houseprice.isnull().count()).sort_values(ascending=False)   

# concat the 'Total' and 'Percent' columns using 'concat' function
# pass a list of column names in parameter 'keys' 
# 'axis = 1' concats along the columns
missing_data = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data

             Total  Percentage of Missing Values
waterbody      155                     30.632411
n_hos_beds       8                      1.581028
price            0                      0.000000
crime_rate       0                      0.000000
rainfall         0                      0.000000
n_hot_rooms      0                      0.000000
airport          0                      0.000000
poor_prop        0                      0.000000
teachers         0                      0.000000
dist4            0                      0.000000
dist3            0                      0.000000
dist2            0                      0.000000
dist1            0                      0.000000
age              0                      0.000000
room_num         0                      0.000000
air_qual         0                      0.000000
resid_area       0                      0.000000
parks            0                      0.000000

In [6]:
df_houseprice.fillna(df_houseprice["n_hos_beds"].mean(),inplace=True)

In [7]:
# sort the variables on the basis of total null values in the variable
# 'isnull().sum()' returns the number of missing values in each variable
# 'ascending = False' sorts values in the descending order
# the variable with highest number of missing values will appear first
Total = df_houseprice.isnull().sum().sort_values(ascending=False)          

# calculate percentage of missing values
# 'ascending = False' sorts values in the descending order
# the variable with highest percentage of missing values will appear first
Percent = (df_houseprice.isnull().sum()*100/df_houseprice.isnull().count()).sort_values(ascending=False)   

# concat the 'Total' and 'Percent' columns using 'concat' function
# pass a list of column names in parameter 'keys' 
# 'axis = 1' concats along the columns
missing_data = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data

             Total  Percentage of Missing Values
price            0                           0.0
crime_rate       0                           0.0
rainfall         0                           0.0
waterbody        0                           0.0
n_hot_rooms      0                           0.0
n_hos_beds       0                           0.0
airport          0                           0.0
poor_prop        0                           0.0
teachers         0                           0.0
dist4            0                           0.0
dist3            0                           0.0
dist2            0                           0.0
dist1            0                           0.0
age              0                           0.0
room_num         0                           0.0
air_qual         0                           0.0
resid_area       0                           0.0
parks            0                           0.0

In [8]:
# store the target variable 'Chance of Admit' in a dataframe 'df_target'
df_target = df_houseprice['price']

# store all the independent variables in a dataframe 'df_feature'
# drop the column 'Chance of Admit' using drop()
# 'axis = 1' drops the specified column
df_feature = df_houseprice.drop('price', axis = 1)

In [9]:
# filter the numerical features in the dataset
# 'select_dtypes' is used to select the variables with given data type
# 'include = [np.number]' will include all the numerical variables
df_num = df_feature.select_dtypes(include = [np.number])

# display numerical features
df_num.head()

,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks
0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,5.480,11.1920,23,0.049347
1,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,7.332,12.1728,42,0.046146
2,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,7.394,101.1200,38,0.045764
3,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,9.268,11.2672,45,0.047151
4,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,8.824,11.2896,55,0.039474

In [10]:
# filter the categorical features in the dataset
# 'select_dtypes' is used to select the variables with given data type
# 'include = [np.object]' will include all the categorical variables
df_cat = df_feature.select_dtypes(include = ['object'])

# display categorical features
df_cat.columns

Index(['airport', 'waterbody'], dtype='object')

In [11]:
# use 'get_dummies' from pandas to create dummy variables
# use 'drop_first' to create (n-1) dummy variables
dummy_var = pd.get_dummies(data = df_cat, drop_first = True)

In [13]:
# import StandardScaler to perform scaling
from sklearn.preprocessing import StandardScaler 

# initialize the standard scalar
X_scaler = StandardScaler()

# scale all the numerical columns
# standardize all the columns of the dataframe 'df_num'
num_scaled = X_scaler.fit_transform(df_num)

# create a dataframe of scaled numerical variables
# pass the required column names to the parameter 'columns'
df_num_scaled = pd.DataFrame(num_scaled, columns = df_num.columns)

In [14]:
# concat the dummy variables with numeric features to create a dataframe of all independent variables
# 'axis=1' concats the dataframes along columns 
X = pd.concat([df_num_scaled, dummy_var], axis = 1)

# display first five observations
X.head()

,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,-0.419782,-1.287909,-0.144217,0.413672,-0.120013,0.179451,0.086032,0.103569,0.186459,1.459000,-1.075562,-1.653421,-0.353398,-1.294408,-0.480763,True,False,False,True
1,-0.417339,-0.593381,-0.740262,0.194274,0.367166,0.483280,0.508534,0.547446,0.687144,0.303094,-0.492439,-0.387954,-0.166000,0.225431,-0.782183,False,True,False,False
2,-0.417342,-0.593381,-0.740262,1.282714,-0.265812,0.502269,0.584490,0.495503,0.644228,0.303094,-1.208727,-0.345589,16.828839,-0.094535,-0.818115,False,False,False,False
3,-0.416750,-1.306878,-0.835284,1.016303,-0.809889,1.062454,1.092442,1.038545,1.116302,-0.113032,-1.361517,0.934910,-0.339029,0.465405,-0.687571,True,True,False,False
4,-0.412482,-1.306878,-0.835284,1.228577,-0.511180,1.038717,1.059212,1.137709,1.068618,-0.113032,-1.026501,0.631526,-0.334750,1.265320,-1.410280,False,True,False,False

In [18]:
# import various functions from statsmodels
import statsmodels
import statsmodels.api as sm

# add a constant column to the dataframe
# while using the 'Logit' method in the Statsmodels library, the method do not consider the intercept by default
# we can add the intercept to the set of independent variables using 'add_constant()'
X = sm.add_constant(X)

# split data into train subset and test subset
# set 'random_state' to generate the same dataset each time you run the code 
# 'test_size' returns the proportion of data to be included in the testing set
X_train, X_test, y_train, y_test = train_test_split(X, df_target, random_state = 10, test_size = 0.2)

# check the dimensions of the train & test subset using 'shape'
# print dimension of train set
print('X_train', X_train.shape)
print('y_train', y_train.shape)

# print dimension of test set
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (404, 20)
y_train (404,)
X_test (102, 20)
y_test (102,)

# Linear Regression

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict on the testing data
predictions = model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 32.570727558966006

# Ridge Model

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Ridge regression model
ridge_model = Ridge(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
ridge_model.fit(X_train, y_train)

# Predict on the testing data
predictions = ridge_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 31.957909845850505

# Lasso Model

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Lasso regression model
lasso_model = Lasso(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Predict on the testing data
predictions = lasso_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 40.3630360157009

# Decision Tree Regressor

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Decision Tree regression model
tree_model = DecisionTreeRegressor()

# Fit the model to the training data
tree_model.fit(X_train, y_train)

# Predict on the testing data
predictions = tree_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 37.528725490196074

# Random Forest Regressor

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Random Forest regression model
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
forest_model.fit(X_train, y_train)

# Predict on the testing data
predictions = forest_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 15.4789322745098

# Gaussian Process Regressor

In [24]:
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Gaussian Process regression model with an RBF kernel
kernel = 1.0 * RBF(length_scale=1.0)
gp_model = GaussianProcessRegressor(kernel=kernel, n_restarts_optimizer=10, random_state=42)

# Fit the model to the training data
gp_model.fit(X_train, y_train)

# Predict on the testing data
predictions, std_dev = gp_model.predict(X_test, return_std=True)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 737.9769607843136

# Polynomial Regression

In [25]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Generate polynomial features
degree = 3  # degree of the polynomial
poly = PolynomialFeatures(degree=degree)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

# Create a Polynomial Regression model
poly_model = LinearRegression()

# Fit the model to the training data
poly_model.fit(X_train_poly, y_train)

# Predict on the testing data
predictions = poly_model.predict(X_test_poly)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 77.20069982112238

# Neural Network Regression

In [26]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Normalize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create a neural network model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

# Compile the model
model.compile(optimizer=Adam(), loss='mean_squared_error')

# Fit the model to the training data
history = model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

# Predict on the testing data
predictions = model.predict(X_test_scaled)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

WARNING:tensorflow:From C:\Users\Praful Bhoyar\anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Praful Bhoyar\anaconda\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Epoch 1/100
WARNING:tensorflow:From C:\Users\Praful Bhoyar\anaconda\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

11/11 [==============================] - 2s 32ms/step - loss: 490.9160 - val_loss: 496.4388
Epoch 2/100
11/11 [==============================] - 0s 6ms/step - loss: 441.1347 - val_loss: 441.3174
Epoch 3/100
11/11 [==============================] - 0s 7ms/step - loss: 384.4519 - val_loss: 377.5191
Epoch 4/100
11/11 [==============================] - 0s 7ms/step - loss: 318.6225 - val_loss: 303.4375
Epoch 5/100
11/11 [==============================] - 0s 6ms/step - loss: 246.5522 - val_loss: 225.1302
Epoch 6/100
11/11 [==============================] - 0s 6ms/step - loss: 174.1713 - val_loss: 156.1732
Epoch 7/100
11/11 [==============================] - 0s 6ms/step - loss: 118.2030 - val_loss: 111.1539
Epoch 8/100
11/11 [==============================] - 0s 6ms/step - loss: 82.6999 - val_loss: 89.4505
Epoch 9/100
11/11 [==============================] - 0s 7ms/step - loss: 63.8044 - val_loss: 75.4843
Epoch 10/100
11/11 [==============================] - 0s 7ms/step - loss: 49.7742 - val_loss: 64.0514
Epoch 11/100
11/11 [==============================] - 0s 6ms/step - loss: 39.9995 - val_loss: 56.7630
Epoch 12/100
11/11 [==============================] - 0s 8ms/step - loss: 32.4713 - val_loss: 51.8135
Epoch 13/100
11/11 [==============================] - 0s 7ms/step - loss: 28.1196 - val_loss: 47.3604
Epoch 14/100
11/11 [==============================] - 0s 6ms/step - loss: 24.8890 - val_loss: 44.4050
Epoch 15/100
11/11 [==============================] - 0s 6ms/step - loss: 22.8303 - val_loss: 41.8949
Epoch 16/100
11/11 [==============================] - 0s 7ms/step - loss: 21.3276 - val_loss: 40.4790
Epoch 17/100
11/11 [==============================] - 0s 6ms/step - loss: 20.2317 - val_loss: 39.1421
Epoch 18/100
11/11 [==============================] - 0s 6ms/step - loss: 19.2281 - val_loss: 38.2679
Epoch 19/100
11/11 [==============================] - 0s 7ms/step - loss: 18.4080 - val_loss: 37.1165
Epoch 20/100
11/11 [==============================] - 0s 7ms/step - loss: 17.7762 - val_loss: 36.6739
Epoch 21/100
11/11 [==============================] - 0s 6ms/step - loss: 17.1905 - val_loss: 35.9573
Epoch 22/100
11/11 [==============================] - 0s 7ms/step - loss: 16.6582 - val_loss: 35.2466
Epoch 23/100
11/11 [==============================] - 0s 6ms/step - loss: 16.2179 - val_loss: 34.7660
Epoch 24/100
11/11 [==============================] - 0s 6ms/step - loss: 16.0330 - val_loss: 33.5806
Epoch 25/100
11/11 [==============================] - 0s 6ms/step - loss: 15.5378 - val_loss: 32.1013
Epoch 26/100
11/11 [==============================] - 0s 6ms/step - loss: 15.1442 - val_loss: 32.3510
Epoch 27/100
11/11 [==============================] - 0s 6ms/step - loss: 14.6297 - val_loss: 33.0938
Epoch 28/100
11/11 [==============================] - 0s 6ms/step - loss: 14.4712 - val_loss: 33.0630
Epoch 29/100
11/11 [==============================] - 0s 6ms/step - loss: 14.1330 - val_loss: 32.3058
Epoch 30/100
11/11 [==============================] - 0s 6ms/step - loss: 13.7664 - val_loss: 31.1622
Epoch 31/100
11/11 [==============================] - 0s 8ms/step - loss: 13.3923 - val_loss: 31.0601
Epoch 32/100
11/11 [==============================] - 0s 8ms/step - loss: 13.2021 - val_loss: 31.2443
Epoch 33/100
11/11 [==============================] - 0s 8ms/step - loss: 12.9345 - val_loss: 31.2766
Epoch 34/100
11/11 [==============================] - 0s 12ms/step - loss: 12.7082 - val_loss: 31.0460
Epoch 35/100
11/11 [==============================] - 0s 6ms/step - loss: 12.5203 - val_loss: 30.5050
Epoch 36/100
11/11 [==============================] - 0s 7ms/step - loss: 12.3157 - val_loss: 31.4285
Epoch 37/100
11/11 [==============================] - 0s 7ms/step - loss: 12.2570 - val_loss: 30.8390
Epoch 38/100
11/11 [==============================] - 0s 7ms/step - loss: 12.2773 - val_loss: 32.7937
Epoch 39/100
11/11 [==============================] - 0s 7ms/step - loss: 12.2217 - val_loss: 31.5311
Epoch 40/100
11/11 [==============================] - 0s 6ms/step - loss: 11.8228 - val_loss: 31.1670
Epoch 41/100
11/11 [==============================] - 0s 7ms/step - loss: 11.5060 - val_loss: 30.4372
Epoch 42/100
11/11 [==============================] - 0s 6ms/step - loss: 11.4058 - val_loss: 28.6787
Epoch 43/100
11/11 [==============================] - 0s 6ms/step - loss: 11.2951 - val_loss: 28.8698
Epoch 44/100
11/11 [==============================] - 0s 6ms/step - loss: 11.0844 - val_loss: 29.2501
Epoch 45/100
11/11 [==============================] - 0s 6ms/step - loss: 10.8331 - val_loss: 29.3426
Epoch 46/100
11/11 [==============================] - 0s 9ms/step - loss: 10.7956 - val_loss: 29.0808
Epoch 47/100
11/11 [==============================] - 0s 8ms/step - loss: 10.5279 - val_loss: 28.7129
Epoch 48/100
11/11 [==============================] - 0s 6ms/step - loss: 10.5857 - val_loss: 30.0696
Epoch 49/100
11/11 [==============================] - 0s 7ms/step - loss: 10.4915 - val_loss: 29.5745
Epoch 50/100
11/11 [==============================] - 0s 6ms/step - loss: 10.2292 - val_loss: 28.5125
Epoch 51/100
11/11 [==============================] - 0s 6ms/step - loss: 10.1163 - val_loss: 27.9292
Epoch 52/100
11/11 [==============================] - 0s 6ms/step - loss: 9.9634 - val_loss: 27.9225
Epoch 53/100
11/11 [==============================] - 0s 6ms/step - loss: 9.9114 - val_loss: 28.3571
Epoch 54/100
11/11 [==============================] - 0s 6ms/step - loss: 9.7849 - val_loss: 27.8679
Epoch 55/100
11/11 [==============================] - 0s 5ms/step - loss: 9.7290 - val_loss: 27.8403
Epoch 56/100
11/11 [==============================] - 0s 6ms/step - loss: 9.5719 - val_loss: 27.5525
Epoch 57/100
11/11 [==============================] - 0s 8ms/step - loss: 9.5371 - val_loss: 27.9302
Epoch 58/100
11/11 [==============================] - 0s 6ms/step - loss: 9.4609 - val_loss: 27.8006
Epoch 59/100
11/11 [==============================] - 0s 6ms/step - loss: 9.4365 - val_loss: 27.8964
Epoch 60/100
11/11 [==============================] - 0s 7ms/step - loss: 9.2984 - val_loss: 27.3926
Epoch 61/100
11/11 [==============================] - 0s 7ms/step - loss: 9.1592 - val_loss: 27.2260
Epoch 62/100
11/11 [==============================] - 0s 11ms/step - loss: 9.0789 - val_loss: 26.5721
Epoch 63/100
11/11 [==============================] - 0s 7ms/step - loss: 9.0879 - val_loss: 26.8932
Epoch 64/100
11/11 [==============================] - 0s 6ms/step - loss: 8.9385 - val_loss: 27.2328
Epoch 65/100
11/11 [==============================] - 0s 6ms/step - loss: 8.8388 - val_loss: 27.1474
Epoch 66/100
11/11 [==============================] - 0s 6ms/step - loss: 8.8899 - val_loss: 26.9797
Epoch 67/100
11/11 [==============================] - 0s 6ms/step - loss: 8.8956 - val_loss: 27.3629
Epoch 68/100
11/11 [==============================] - 0s 6ms/step - loss: 8.7300 - val_loss: 28.0114
Epoch 69/100
11/11 [==============================] - 0s 7ms/step - loss: 8.7353 - val_loss: 27.6092
Epoch 70/100
11/11 [==============================] - 0s 7ms/step - loss: 8.6750 - val_loss: 26.5885
Epoch 71/100
11/11 [==============================] - 0s 6ms/step - loss: 8.5474 - val_loss: 26.4549
Epoch 72/100
11/11 [==============================] - 0s 7ms/step - loss: 8.3861 - val_loss: 26.2888
Epoch 73/100
11/11 [==============================] - 0s 6ms/step - loss: 8.5143 - val_loss: 27.5255
Epoch 74/100
11/11 [==============================] - 0s 6ms/step - loss: 8.3096 - val_loss: 26.6396
Epoch 75/100

11/11 [==============================] - 0s 7ms/step - loss: 8.3785 - val_loss: 26.3884
Epoch 76/100
11/11 [==============================] - 0s 6ms/step - loss: 8.1541 - val_loss: 27.2031
Epoch 77/100
11/11 [==============================] - 0s 6ms/step - loss: 8.1263 - val_loss: 27.9785
Epoch 78/100
11/11 [==============================] - 0s 6ms/step - loss: 8.2215 - val_loss: 27.3045
Epoch 79/100
11/11 [==============================] - 0s 6ms/step - loss: 8.1248 - val_loss: 25.4058
Epoch 80/100
11/11 [==============================] - 0s 5ms/step - loss: 7.9761 - val_loss: 26.1465
Epoch 81/100
11/11 [==============================] - 0s 6ms/step - loss: 8.0128 - val_loss: 26.0013
Epoch 82/100
11/11 [==============================] - 0s 7ms/step - loss: 7.8155 - val_loss: 25.8987
Epoch 83/100
11/11 [==============================] - 0s 6ms/step - loss: 7.8090 - val_loss: 26.2595
Epoch 84/100
11/11 [==============================] - 0s 6ms/step - loss: 7.6859 - val_loss: 26.3288
Epoch 85/100
11/11 [==============================] - 0s 6ms/step - loss: 7.5862 - val_loss: 26.2166
Epoch 86/100
11/11 [==============================] - 0s 7ms/step - loss: 7.5494 - val_loss: 26.0909
Epoch 87/100
11/11 [==============================] - 0s 5ms/step - loss: 7.6579 - val_loss: 26.5673
Epoch 88/100
11/11 [==============================] - 0s 6ms/step - loss: 7.4252 - val_loss: 26.0381
Epoch 89/100
11/11 [==============================] - 0s 6ms/step - loss: 7.3794 - val_loss: 26.1094
Epoch 90/100
11/11 [==============================] - 0s 5ms/step - loss: 7.3682 - val_loss: 26.3806
Epoch 91/100
11/11 [==============================] - 0s 7ms/step - loss: 7.3168 - val_loss: 26.3236
Epoch 92/100
11/11 [==============================] - 0s 6ms/step - loss: 7.3066 - val_loss: 26.0339
Epoch 93/100
11/11 [==============================] - 0s 6ms/step - loss: 7.5959 - val_loss: 24.1191
Epoch 94/100
11/11 [==============================] - 0s 6ms/step - loss: 7.5906 - val_loss: 25.4736
Epoch 95/100
11/11 [==============================] - 0s 6ms/step - loss: 7.3057 - val_loss: 25.1257
Epoch 96/100
11/11 [==============================] - 0s 6ms/step - loss: 7.2112 - val_loss: 25.1172
Epoch 97/100
11/11 [==============================] - 0s 6ms/step - loss: 7.0904 - val_loss: 25.7064
Epoch 98/100
11/11 [==============================] - 0s 7ms/step - loss: 6.9806 - val_loss: 26.0108
Epoch 99/100
11/11 [==============================] - 0s 6ms/step - loss: 6.9862 - val_loss: 25.7423
Epoch 100/100
11/11 [==============================] - 0s 6ms/step - loss: 6.8637 - val_loss: 26.1396
4/4 [==============================] - 0s 2ms/step
Mean Squared Error: 16.09427414407775

# KNN

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a KNN regression model
k = 5  # number of neighbors
knn_model = KNeighborsRegressor(n_neighbors=k)

# Fit the model to the training data
knn_model.fit(X_train, y_train)

# Predict on the testing data
predictions = knn_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 26.713549019607836

# SVR

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a SVM regression model
svm_model = SVR(kernel='rbf')  # 'rbf' kernel is commonly used for non-linear regression

# Fit the model to the training data
svm_model.fit(X_train, y_train)

# Predict on the testing data
predictions = svm_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 46.2997253293128